ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;

    li {
        list-style: none;

        a {
            color: nth($colors , 13);
            display: inline-block;
            text-decoration: none;
            margin-bottom: 1rem;

            svg {
                height: 1.5rem;
                width: 1.5rem;
                margin-right: 0.8rem;
            }

            .icon-whatsapp {
                color: nth($colors , 9);
            }

            .icon-email {
                color: nth($colors , 10);
            }

            .icon-linkedin {
                color: nth($colors , 11);
            }

            .icon-instagram {
                color: nth($colors , 12);
            }

            .text-whatsapp:hover {
                transition: 100ms;
                text-shadow: 
                    0 0 5px nth($colors , 9), 
                    0 0 10px nth($colors , 9), 
                    0 0 15px nth($colors , 9);
            }

            .text-email:hover {
                transition: 100ms;
                text-shadow: 
                    0 0 5px nth($colors , 10), 
                    0 0 10px nth($colors , 10), 
                    0 0 15px nth($colors , 10);
            }

            .text-linkedin:hover {
                transition: 100ms;
                text-shadow: 
                    0 0 5px nth($colors , 11), 
                    0 0 10px nth($colors , 11), 
                    0 0 15px nth($colors , 11);
            }

            .text-instagram:hover {
                transition: 100ms;
                text-shadow: 
                    0 0 5px nth($colors , 12), 
                    0 0 10px nth($colors , 12), 
                    0 0 15px nth($colors , 12);
            }

            .text-github:hover {
                transition: 100ms;
                text-shadow: 
                    0 0 5px nth($colors , 7), 
                    0 0 10px nth($colors , 13),
                    0 0 15px nth($colors , 13),
                    0 0 20px nth($colors , 13);
            }
        }
    }
}