.card-style-container {
    display: flex;
    border-radius: 12px;
    background: #ffffff;
    box-shadow:  
    5px 5px 10px #666666,
    -5px -5px 10px #ffffff;
    margin: 1.5% 5% 2.5% 5%;

    .div-style-image {
        height: 300px;
        width: 900px;
        padding: 2% 3% 2% 2%;
        
       img {
            height: 100%;
            width: 100%;
            border-radius: 12px;
            
        } 
    }
    
    .div-style-description {
        display: flex;
        flex-direction: column;
        padding: 1%;

        a {
            display: grid;
            justify-content: center;
        }

        p {
            text-align: center;
        }
    }
}