#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  
    section {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding-top: 2rem;
      flex-wrap: wrap;
  
      @import "componentsStyle/emailForm";
  
      div {
        display: flex;
        // justify-content: space-between;
        // flex-direction: column;
        // padding: 0 0 2rem 1rem;
        margin: 1rem;
  
        @import "componentsStyle/networks";
  
        @import "componentsStyle/location";
      }
    } 
  }