.form-style-container {
    border-radius: 12px;
    background: #ffffff;
    box-shadow:  
    5px 5px 10px #666666,
    -5px -5px 10px #ffffff;
    width: 19rem;

    form {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        Button {
            margin-top: 1rem;

            &:hover {
                background-color: #0b23fc;
            }
        }

        .input-style {
            display: flex;
            flex-direction: column;
            position: static;

            label {
                font-size: 0.75rem;
                color: #0b23fc;
                font-weight: 700;
                position: relative;
                top: 0.5rem;
                margin: 0 0 0 7px;
                padding: 0 3px;
                background: #ffffff;
                width: fit-content;
            }

            input, textarea {
                padding: 11px 10px;
                font-size: 0.75rem;
                border: 2px #939dff solid;
                border-radius: 5px;

                &:focus {
                    outline: none;
                    border-color: #0b23fc;
                }
            }
        }
    }
}