.location-style {
    border-radius: 12px;
    background-color: #1c1c1c;
    box-shadow:  
    10px 10px 10px #0c0c0c;
    padding: 0.5rem;

    iframe {
        height: 15rem;
        width: 25rem;
        border-radius: 12px;
    }
}