.modal-container {
  z-index: 2;
  position: fixed;
  background-color: rgba(nth($colors , 7), 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include flex(center, center);

  .slider-container {
    width: 65%;

    @media (max-width:830px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 90vh;
      border-radius: $curve;
    }

    a {
      height: 3rem;
      top: 50%;
    }
  }

  .btn-close-modal {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        width: 3rem;
        height: 3rem;
        border-radius: $curve;
        cursor: pointer;

        @media (max-width:830px) {
          top: 3rem;
        }

        &:hover {
          background-color: rgb(255, 255, 255, .10);
        }

        &:active {
          scale: (0.9);
          transition: all 100ms ease;
        }

        svg {
          color: nth($colors , 13);
          width: 100%;
          height: 100%;
        }
      }
}