.helloWorld-style-container {
    @include flex(none, none);
    width: 80%;

    @media (max-width:768px) {
      flex-wrap: wrap;
    }
    
    .helloWorld-style {
      margin: 1rem;

      h1 {
        margin-bottom: 1rem;
      }

      p {
        width: 95%;
      }

      @import 'btnModal';

      @import "customModal";
    }

    .profilePhoto-container {

      @media (max-width:768px) {
        @include center;
        width: 100%;
      }
      
      .profilePhoto {
        width: 20rem;
        height: 20rem;
        margin: 1rem;
        border-radius: 170px;
        background-color: nth($colors , 2);
        box-shadow: 15px 15px 10px nth($colors , 3);

        @media (max-width:426px) {
          width: 15rem;
          height: 15rem;
        }
      } 
    }
}