.skills-container {
    border-radius: $curve;
    background-color: nth($colors, 2);
    box-shadow: $shadow;
    width: 80%;
    margin-top: 1.5rem;

    .skills-btn {
        @include flex(space-between, center);
        padding: 1rem;
        cursor: pointer;

        &:hover {
            background-color: lighten(nth($colors, 2), 3%);
            border-radius: $curve;
        }

        @import 'arrowSkills';

        h3 {
            margin: 0 0.5rem;
        }
    }

    @import 'skillsContent';
}