.skills-content {
    @include flex(space-between, none);
    padding: 1rem;
    flex-wrap: wrap;

    .skills {
        @include flex(none, none);
        margin: 0.5rem;

        img {
            width: 3.5rem;
        }

        .skills-description {
            @include flex(space-between, none);
            flex-direction: column;
            margin-left: 0.5rem;

            .loading-bar {
                border-style: solid;
                border-color: nth($colors, 3);
                border-radius: 5px;
                height: 1rem;
                width: 9rem;

                .loading {
                    height: 100%;
                    background-color: nth($colors, 4);
                    border-radius: 3px;
                }
            }

            .skill-name {
                @include flex(space-between, none);

                span {
                    @include sub;
                }
            }
        }
    }
}