.skills-container {
    border-radius: 12px;
    background-color: nth($colors, 2);
    box-shadow:  
    10px 10px 10px nth($colors, 3);
    width: 80%;
    margin-top: 1.5rem;

    .skills-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        cursor: pointer;

        &:hover {
            background-color: lighten(nth($colors, 2), 3%);
            border-radius: 12px;
        }

        @import 'arrowSkills';

        h3 {
            margin: 0 0.5rem;
        }
    }

    @import 'skillsContent';
}