#start {
    @include flex(none, center);
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    margin-bottom: 4rem;
    margin-top: 2rem;

    @media (max-width:768px) {
        margin-top: 3.5rem;
    }
  
    @import "componentsStyle/helloWorld";
  
    @import "componentsStyle/skills";
}