.btn-gitHub {
    display: flex;
    padding: 0.5rem;
    border-radius: 12px;
    border-color: nth($colors, 6);
    border-style: solid;
    align-items: center;
    cursor: pointer;
    box-shadow:  
    10px 10px 10px nth($colors, 3);
    text-decoration: none;

    &:hover {
        transition: 200ms;
        border-color: nth($colors , 13);
        box-shadow:  
            0 0 5px nth($colors, 7),
            0 0 10px nth($colors, 7),
            0 0 15px nth($colors, 7),
            0 0 20px nth($colors , 13);

        .icon-link {
            color: nth($colors , 13);
        }

        span {
            color: nth($colors , 13);
            text-shadow: 
                0 0 5px nth($colors, 7),
                0 0 10px nth($colors, 7),
                0 0 15px nth($colors, 7),
                0 0 20px nth($colors, 7),
                0 0 25px nth($colors , 13);
        }
    }

    &:active {
        scale: (0.9);
        transition: 100ms;
    }

    .icon-link {
        margin-right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        color: nth($colors , 8);

        svg {
            width: 100%;
            height: 100%;
        }
    }

    span {
        color: nth($colors , 8);
        font-family: 'ADLaM Display', cursive;

        @media only screen and (max-width:426px) {
            span {
                display: none;
            }
        }
    }
}