.btn-gitHub {
    display: flex;
    padding: 0.4rem;
    border-radius: 12px;
    border-color: #111111;
    border-style: solid;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    box-shadow:  
    10px 10px 10px #0c0c0c;
    text-decoration: none;

    &:hover {
        background-color: #111111;
        transition: all 200ms ease;

        .icon-gitHub {
            color: #ffffff;
        }

        span {
            color: #ffffff;
        }
    }

    &:active {
        scale: (0.9);
        transition: all 100ms ease;
    }

    .icon-gitHub {
        margin-right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        color: #959595;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    span {
        color: #959595;
        font-family: 'ADLaM Display', cursive;
    }
}