.card-style-container {
    display: flex;
    border-radius: 12px;
    background-color: #1c1c1c;
    box-shadow:  
    10px 10px 10px #0c0c0c;
    width: 80%;
    margin: 1rem 0 1rem 0;

    .image-style {
        margin: 1.5%;
        
       img {
            height: 100%;
            width: 25rem;
            border-radius: 12px;
        } 
    }
    
    .description-style {
        display: flex;
        flex-direction: column;
        margin: 1.5%;
        justify-content: space-between;

        .btn-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            @import 'btnLinkProject';

            @import 'btnGitHub';
        }

        .tools-styles {

            ul {
                list-style: none;
                display: flex;

                li {
                    margin: 0 0.5rem;

                    img {
                        height: 2rem;
                        width: 3rem;
                    }
                }
            }
        }
    }
}