.card-style-container {
    @include flex(none, none);
    border-radius: $curve;
    background-color: nth($colors, 2);
    box-shadow: $shadow;
    width: 80%;
    margin: 3rem 0;

    @media (max-width:1000px) {
        width: 90%;
    }

    @media (max-width:915px) {
        flex-direction: column;
    }

    .image-style {
        padding: 1rem;
        
       img {
            height: 100%;
            width: 30rem;
            border-radius: $curve;

            @media (max-width:915px) {
                width: 100%;
            }
        } 
    }
    
    .description-style {
        @include flex(space-between, none);
        flex-direction: column;
        padding: 1rem 1rem 0 1rem;

        .btn-container {
            width: 100%;
            @include flex(flex-end, none);

            @media (max-width:915px) {
                @include flex(space-between, none);
            }

            @import 'btnLinkProject';

            @import 'btnGitHub';
        }
    }

        .text-style {
            margin: 2.5rem 0 2rem 0;

            .descriptionApp {
                margin-bottom: 0.5rem;
            }

            p {
                span {
                    font-size: 1.2rem;
                    color: nth($colors, 4);
                    font-weight: 800;
                }
            }
        }
    }