nav {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background: linear-gradient(to right, #2d618e, #3a3144);
    box-shadow: 10px 10px 10px #0c0c0c;
    width: 85%;
    padding: 0.8rem;
    align-items: center;
    margin-top: 1rem;
    z-index: 2;

    @media only screen and (max-width:768px) {
        width: 100%;
        margin-top: 0;
        border-radius: 0 0 12px 12px;
        box-shadow: 0px 10px 10px #0c0c0c;
        position: fixed;
        padding: 0.5rem 0.8rem;
    }

    .icon-code {
        
        svg {
            height: 2.5rem;
            width: 2.5rem;
            color: #ffffff;
        }
    }

    ul {
        display: flex;

        li {
            padding: 0 2rem 0 2rem;
            list-style: none;
            
            span {
                cursor: pointer;
                font: 400 1.3rem 'ADLaM Display', cursive;

                &:hover {
                    text-shadow: 
                        0 0 5px #0088ff,
                        0 0 10px #0088ff,
                        0 0 15px #0088ff,
                        0 0 20px #0088ff,
                        0 0 25px #0088ff,
                        0 0 30px #0088ff,
                        0 0 35px #0088ff;
                }
            }
        }
    }

    @import 'btnMenu';

    @media only screen and (max-width:768px) {

        .menu-responsive {
            position: absolute;
            top: 4.5rem;
            right: -17rem;
            height: 17rem;
            width: 16rem;
            transition: all 400ms ease;
            border-radius: 12px 0 0 12px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem 0 1rem 0;
            background-color: #1c1c1c;
            box-shadow: -10px 10px 10px #0c0c0c;

            li {

                span {
                    border-color: #2d618e;
                    border-style: solid;
                    border-radius: 12px;
                    padding: 0.5rem 2rem;
                    box-shadow: 10px 10px 10px #0c0c0c;
                    background-color: #2d618e;

                    &:hover {
                        text-shadow: none;
                    }

                    &:active {
                        box-shadow: inset 5px 5px 10px #0c0c0c;
    
                    }
                }
            }
        }

        .active {
            right: 0;
        }
    }
}