nav {
    @include flex (space-between, center);
    border-radius: $curve;
    background: linear-gradient(to right, nth($colors, 4), #3a3144);
    box-shadow: $shadow;
    width: 85%;
    padding: 0.8rem;
    margin-top: 1rem;
    z-index: 2;

    @media (max-width: 768px) {
        width: 100%;
        margin-top: 0;
        border-radius: 0 0 $curve $curve;
        box-shadow: 0px 10px 10px nth($colors, 3);
        position: fixed;
        padding: 0.5rem 0.8rem;
    }

    .icon-code {
        
        svg {
            height: 2.5rem;
            width: 2.5rem;
            color: nth($colors , 13);
        }
    }

    ul {
        @include flex(none, none);

        li {
            padding: 0 2rem 0 2rem;
            list-style: none;
            
            span {
                cursor: pointer;
                @include btn;
                font-size: 1.3rem;

                &:hover {
                    text-shadow: 
                        0 0 5px nth($colors, 5),
                        0 0 10px nth($colors, 5),
                        0 0 15px nth($colors, 5),
                        0 0 20px nth($colors, 5),
                        0 0 25px nth($colors, 5),
                        0 0 30px nth($colors, 5),
                        0 0 35px nth($colors, 5);
                }
            }
        }
    }

    @import 'btnMenu';

    @media (max-width:768px) {

        .menu-responsive {
            @include flex(space-around, center);
            position: absolute;
            top: 5.5rem;
            right: -20rem;
            height: 20rem;
            width: 17rem;
            transition: all 400ms ease;
            border-radius: $curve 0 0 $curve;
            flex-direction: column;
            padding: 1rem 0;
            background-color: rgba(28, 28, 28, 0.95);
            box-shadow: -10px 10px 10px nth($colors, 3);

            li {

                span {
                    border-color: nth($colors, 4);
                    border-style: solid;
                    border-radius: $curve;
                    padding: 0.5rem 2rem;
                    box-shadow: $shadow;
                    background-color: nth($colors, 4);
                    font-size: 1.5rem;

                    &:hover {
                        text-shadow: none;
                    }

                    &:active {
                        box-shadow: inset 5px 5px 10px nth($colors, 3);
    
                    }
                }
            }
        }

        .active {
            right: 0;
        }
    }
}