* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

header {
  padding: 1rem;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav img {
  width: 40px;
  height: 40px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 0 2rem 0 2rem;
  list-style: none;
}
header nav ul li span {
  cursor: pointer;
}
header nav ul li span:hover {
  color: #0b23fc;
}

#start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
#start .helloWorld-style-container {
  display: flex;
  width: 80%;
}
#start .helloWorld-style-container .helloWorld-style {
  margin: 1rem;
}
#start .helloWorld-style-container .helloWorld-style h2 {
  margin-bottom: 1rem;
}
#start .helloWorld-style-container .helloWorld-style p {
  width: 95%;
}
#start .helloWorld-style-container .helloWorld-style .imgCertificate-container img {
  height: 5rem;
  width: 6rem;
  margin: 0.5rem 0.5rem 0 0;
}
#start .helloWorld-style-container .profilePhoto-style {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  clip-path: circle(50% at 50% 50%);
}
#start .skills-style-container {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
}
#start .skills-style-container h4 {
  margin: 0;
}

#projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#projects .card-style-container {
  display: flex;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
  width: 80%;
  margin: 1rem 0 1rem 0;
}
#projects .card-style-container .div-style-image {
  margin: 1.5%;
}
#projects .card-style-container .div-style-image img {
  height: 100%;
  width: 25rem;
  border-radius: 12px;
}
#projects .card-style-container .div-style-description {
  display: flex;
  flex-direction: column;
  margin: 1.5%;
  align-items: center;
  justify-content: space-between;
}
#projects .card-style-container .div-style-description button {
  width: 10rem;
}
#projects .card-style-container .div-style-description .text-style {
  margin: 0.5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#projects .card-style-container .div-style-description .text-style img {
  height: 2rem;
  width: 3rem;
  margin: 0 0.5rem 0 0.5rem;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
}
#contact section .form-style-container {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
  width: 30rem;
  padding: 0;
}
#contact section .form-style-container form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 27rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#contact section .form-style-container form .input-style {
  display: flex;
  flex-direction: column;
  position: static;
  width: 100%;
}
#contact section .form-style-container form .input-style label {
  font-size: 0.75rem;
  color: #0b23fc;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #ffffff;
  width: fit-content;
}
#contact section .form-style-container form .input-style input, #contact section .form-style-container form .input-style textarea {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #939dff solid;
  border-radius: 5px;
}
#contact section .form-style-container form .input-style input:focus, #contact section .form-style-container form .input-style textarea:focus {
  outline: none;
  border-color: #0b23fc;
}
#contact section .form-style-container form .input-style .error-message-style {
  color: #ff0000;
  position: absolute;
  margin-top: 3.8rem;
}
#contact section .form-style-container form Button {
  margin-top: 1rem;
  width: 60%;
}
#contact section .form-style-container form Button:hover {
  background-color: #0b23fc;
}
#contact section .form-style-container form .submitted-form-style {
  color: #00df00;
}
#contact section div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#contact section div .location-style {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
  padding: 0.5rem;
}
#contact section div .location-style iframe {
  height: 15rem;
  width: 25rem;
  border-radius: 12px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #686868;
  padding: 15px 0 15px 0;
}
footer img {
  height: 50px;
  width: 50px;
}
footer section {
  display: grid;
  grid-template-columns: auto auto;
}
footer section a, footer section span {
  padding: 5px;
}
footer section img {
  height: 25px;
  width: 25px;
}

/*# sourceMappingURL=style.css.map */
