nav {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background: linear-gradient(to right, #30608d, #3d4561);
    box-shadow:  
    10px 10px 10px #0c0c0c;
    width: 80%;
    padding: 0.8rem;
    align-items: center;
    margin-top: 1rem;
    // position: fixed;

    img {
        width: 40px;
        height: 40px;
    }

    ul {
        display: flex;

        li {
            padding: 0 2rem 0 2rem;
            list-style: none;
            
            span {
                cursor: pointer;

                &:hover {
                    color: #0b23fc;
                }
            }
        }
    }
}