* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }

body {
  background-color: #1e1e1e;
  color: #ffffff;

  @import 'Section_Header_Styles/header';
  
  @import 'Section_Start_Styles/start';
  
  @import 'Section_Projects_Styles/projects';
  
  @import 'Section_Contact_Styles/contact';
  
  @import 'Section_Footer_Styles/footer';
}