* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }

#start {
  display: flex;
  justify-content:space-around;
  margin: 2.5% 0 2.5% 0;

  @import "start/hello-world";
  @import "start/photos";
}