footer {
    @include flex(space-around, center);
    background: linear-gradient(to right, nth($colors , 4), #3a3144);
    padding: 15px 0 15px 0;
    flex-wrap: wrap;
  
    .icon-code {
      padding: 1rem;

      svg {
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  
    .socialNetwork-container {
      display: grid;
      grid-template-columns: auto auto;

      @media only screen and (max-width:768px) {
        @include flex(space-around, none);
        flex-wrap: wrap;
      }

      .socialNetwork {
        @include flex(none, none);
        padding: 0.5rem;

        a, .a {
          @include flex(none, center);
          text-align: center;
          color: nth($colors , 13);
          text-decoration: none;
          width: auto;
  
          svg {
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.5rem;
          }

          span {
            @include par;
            font-size: 0.8rem;
          }
        }
      }
    }
  }