.helloWorld-style-container {
    display: flex;
    width: 80%;
    
    .helloWorld-style {
      margin: 1rem;

      h2 {
        margin-bottom: 1rem;
      }

      p {
        width: 95%;
      }

      .imgCertificate-container {
        display: flex;
        
        .imgCertificate {

          .img-style {
            height: 5rem;
            width: 6rem;
            margin: 0.5rem 0.5rem 0 0;
            cursor: pointer;
            border-radius: 12px;

            &:hover {
              scale: (1.2);
              transition: all 400ms ease;
            }

            &:active {
              scale: (1.1);
              transition: all 100ms ease;
            }
          }
        }
      }

      @import "modal";
    }

    .profilePhoto-style {
      width: 20rem;
      height: 20rem;
      margin: 1rem;
      border-radius: 170px;
      background-color: #1c1c1c;
      box-shadow: 15px 15px 10px #0c0c0c;
    } 
}  