.skills-style-container {
    border-radius: 12px;
    background-color: #1c1c1c;
    box-shadow:  
    10px 10px 10px #0c0c0c;
    padding: 1rem;
    margin: 1rem;
    width: 80%;

    h4 {
        margin: 0;
    }
}